[Unit]
Description=GoodJob
After=syslog.target network.target postgresql.service

[Service]
Type=simple
WorkingDirectory=/srv/www/subscriber_only/current
ExecStart=/usr/local/bin/chruby-exec ruby-3.2.1 -- /srv/www/subscriber_only/current/bin/good_job
User=deploy
Group=www-data
UMask=022
Environment=RAILS_ENV=production
Restart=always
SyslogIdentifier=good_job

[Install]
WantedBy=multi-user.target
