[Unit]
Description=Puma HTTP Server Accept Sockets

[Socket]
ListenStream=/run/puma.sock
NoDelay=true
ReusePort=true
Backlog=1024
SocketUser=deploy
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
