[Unit]
Description=Puma HTTP Server
After=syslog.target network.target postgresql.service
Requires=puma.socket

[Service]
Type=notify
WatchdogSec=10
WorkingDirectory=/srv/www/subscriber_only/current
ExecStart=/usr/local/bin/chruby-exec ruby-3.2.1 -- /srv/www/subscriber_only/current/bin/puma -C /srv/www/subscriber_only/current/config/puma.rb /srv/www/subscriber_only/current/config.ru
User=deploy
Group=www-data
UMask=027
Environment=RAILS_ENV=production
Environment=MALLOC_ARENA_MAX=2
Restart=always
SyslogIdentifier=puma

DevicePolicy=closed
LockPersonality=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

[Install]
WantedBy=multi-user.target
