[Unit]
Description=Puma HTTP Server
After=syslog.target network.target postgresql.service
Requires=puma.socket

[Service]
Type=notify
WatchdogSec=10
WorkingDirectory=/srv/www/subscriber_only/current
ExecStart=/usr/local/bin/chruby-exec ruby-3.2.1 -- /srv/www/subscriber_only/current/bin/puma -C /srv/www/subscriber_only/current/config/puma.rb /srv/www/subscriber_only/current/config.ru
User=deploy
Group=www-data
UMask=022
Environment=RAILS_ENV=production
Restart=always
SyslogIdentifier=puma

[Install]
WantedBy=multi-user.target
