<footer class="mt-auto">
  <div class="container-thin py-3 d-flex flex-column gap-2">
    <p class="text-muted mb-0 text-center">
      Need help? Reach us at <%= mail_to "support@subscriber-only.com" %>
    </p>
    <p class="text-muted mb-0 text-center">
      Copyright © 2023 Vitor M. de Sousa Pereira
    </p>
  </div>
</footer>
