<footer class="mt-auto">
  <div class="container-thin py-3 text-center">
    <p class="text-muted mb-0 d-flex flex-center">
      Copyright © 2023 Vitor M. de Sousa Pereira
    </p>
  </div>
</footer>
