@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-ExtraBlackIt.woff2') format('woff2'),
    url('VAGRoundedNext-ExtraBlackIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-BlackIt.woff2') format('woff2'),
    url('VAGRoundedNext-BlackIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-BoldIt.woff2') format('woff2'),
    url('VAGRoundedNext-BoldIt.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-ExtraBlack.woff2') format('woff2'),
    url('VAGRoundedNext-ExtraBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-Bold.woff2') format('woff2'),
    url('VAGRoundedNext-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-Black.woff2') format('woff2'),
    url('VAGRoundedNext-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-SemiboldIt.woff2') format('woff2'),
    url('VAGRoundedNext-SemiboldIt.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-LightIt.woff2') format('woff2'),
    url('VAGRoundedNext-LightIt.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-ExtraLight.woff2') format('woff2'),
    url('VAGRoundedNext-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-Heavy.woff2') format('woff2'),
    url('VAGRoundedNext-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-Light.woff2') format('woff2'),
    url('VAGRoundedNext-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-HeavyIt.woff2') format('woff2'),
    url('VAGRoundedNext-HeavyIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-SemiBold.woff2') format('woff2'),
    url('VAGRoundedNext-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-MediumIt.woff2') format('woff2'),
    url('VAGRoundedNext-MediumIt.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-It.woff2') format('woff2'),
    url('VAGRoundedNext-It.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-Regular.woff2') format('woff2'),
    url('VAGRoundedNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-ExtraLightIt.woff2') format('woff2'),
    url('VAGRoundedNext-ExtraLightIt.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-Medium.woff2') format('woff2'),
    url('VAGRoundedNext-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next Shine';
  src: url('VAGRoundedNextShine-Regular.woff2') format('woff2'),
    url('VAGRoundedNextShine-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-ThinIt.woff2') format('woff2'),
    url('VAGRoundedNext-ThinIt.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next';
  src: url('VAGRoundedNext-Thin.woff2') format('woff2'),
    url('VAGRoundedNext-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded Next Rust';
  src: url('VAGRoundedNextRust-Regular.woff2') format('woff2'),
    url('VAGRoundedNextRust-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
