<%# locals: (site:) %>

<% if site.details_submitted? %>
  <% unless site.payouts? %>
    <div class="alert alert-warning" role="alert">
      <strong>Your Stripe account is still being verified.</strong> If this takes longer than one day, please contact Stripe.
    </div>
  <% end %>
  <%= render "plans/form", plan: @site.current_plan || @site.plans.build %>
<% else %>
  <div class="text-center">
    <%= button_to(
      "Connect with Stripe",
      merchant_account_path,
      form: { "data-turbo": false },
      class: "btn btn-primary",
      disabled: !site.basic_info?
    ) %>
  </div>
<% end %>
